footer.page-footer.docs-footer
  div.container
    div.row(style="margin-bottom: 0;")
      div.s12.m10.offset-m1
        div.row(style="gap:2rem;")
          div.s12.l4
            h5 Help Materialize Grow
            p.grey-text.text-darken-2.
              We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support
              the team you can help us by opening issues or contributing on GitHub.
            a.btn.waves-effect.waves-light(target="_blank" href='https://github.com/materializecss/materialize') Contribute
          div.s12.l4
            h5 Join the Discussion
            p.grey-text.text-darken-2.
              We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features,
              future goals, general problems or questions, or anything else you can think of.
            a.btn.waves-effect.waves-light(href='https://gitter.im/materializecss/materialize' target='_blank') Chat
          div.s12.l4(style="overflow: hidden;")
            h5 Star us
            iframe(src="https://ghbtns.com/github-btn.html?user=materializecss&repo=materialize&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30")
        div.footer-copyright
          | © 2014-
          noscript 2018
          script.
            document.write(new Date().getFullYear());
          | &nbsp;Materialize, All rights reserved.
          a.right(target="_blank" href='https://github.com/materializecss/materialize/blob/main/LICENSE') MIT License