section {
    contain: content;
}

h3.header {
    font-size: 2rem;
}

main > section {
    border-top: 1px solid var(--separator-color);
    margin-bottom: 3rem;
    contain: content;
    padding-top: 1rem;
}

main > section.index-links {
    margin-top: 3rem;
    border-top: none;
}
 
section > div.container > h2 {
    margin-top: 1rem;
}
.table-of-contents li {
    background-color: var(--background-color);
    padding-right: 2em;
}
