- var no_nav = false
- var page = "Floating Action Button"

doctype html
html(lang="en")
  head
    include includes/_head.pug
  body
    include includes/_navbar.pug
    main
      include contents/floating-action-button-content.html
    include includes/_footer.pug
    include includes/_scripts.pug
