- var white_nav = true
- var page = "Getting Started"
- var meta_descript = "Learn how to quickly get started using our CSS framework. We have guides for a variety of skill levels."

doctype html
html(lang="en")
  head
    include includes/_head.pug
  body
    include includes/_navbar.pug
    main
      include contents/getting_started_content.html
    include includes/_footer.pug
    include includes/_scripts.pug
    script.
      document.querySelectorAll('#download-source, #download-sass').forEach(a => {
        a.addEventListener('click', e => {
          document.querySelector('#download-thanks').classList.remove('is-closed');
        });
      });
