- var no_nav = true

doctype html
html(lang="en")
  head
    include _head.pug
  body
    include _navbar.pug
    main
      include index/index_content.html

    //- div.row
    //-   div.s6.offset-s3      
    //-     include:markdown-it content/test.md
    //-     p Das ist ein Test
    //-     hr
    //-     ul
    //-       li Test1
    //-       li Test2
    //-       li Test3
    //-       li
    //-         ul
    //-           li 1.1
    //-           li 1.2
    //-           li 1.3

    include _footer.html
    include _scripts.html
