- var no_nav = true
- var page = "Kitchen Sink - Components"

doctype html
html(lang="en")
  head
    include includes/_head.pug
    style
      include kitchen-sink/kitchen-sink.css
  body
    include includes/_navbar.pug
    main
      section
        div.collection
          a.collection-item(href='#SEC-BUTTONS') BUTTONS
          a.collection-item(href='#SEC-COLLECTIONS') COLLECTIONS
          a.collection-item(href='#SEC-PAGINATION') PAGINATION

      section
        h2#SEC-BUTTONS BUTTONS
        include contents/buttons_content.html
      section
        h2#SEC-COLLECTIONS COLLECTIONS
        include contents/collections_content.html
      section
        h2#SEC-PAGINATION PAGINATION
        include contents/pagination_content.html
    include includes/_footer.pug
    include includes/_scripts.pug
