- var no_nav = false
- var page = "Toasts"

doctype html
html(lang="en")
  head
    include includes/_head.pug
  body
    include includes/_navbar.pug
    main
      include contents/toasts_content.html
    include includes/_footer.pug
    include includes/_scripts.pug
    
  script(type='text/javascript').
    var displayCustomHTMLToast = function () {
      var toastHTML = '<span>I am toast content</span><button class="btn-flat toast-action">Undo</button>';
      M.toast({html: toastHTML});
    }
